<div>
    <div class="row">
        <div class="col-sm-6 col-xs-6">
            <h3 style="margin-top:0px;">Consumer Trace Reports</h3>
        </div>
        <div class="col-sm-3 col-xs-3">
            <button type="button" class="btn btn-primary btn-block align-middle" (click)="addModal()"><i class="fa fa-plus"></i>
                Add New</button>
        </div>
        <div class="col-sm-3 col-xs-3">
            <button type="button" class="btn btn-primary btn-block align-middle" (click)="exportModal(verifications)"><i class="fa fa-file-excel-o"></i>
                Export</button>
        </div>
    </div>
    <div class="table-responsive fixed">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Batch</th>
                    <th>Reference</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>ID Number</th>
                    <th>Date Created</th>
                    <th>Last Updated</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of verifications | async | orderBy: '-created_date'" >
                    <td>{{item.batch}}
                    <td>{{item.ref}}
                    <td>{{item['First Name']}}</td>
                    <td>{{item['Last Name']}}</td>
                    <td>{{item['Identity Number']}}</td>
                    <td>{{item.created_date| date: "dd-MMM-yyyy H:mm"}}</td>
                    <td>{{item.updated_date?.seconds * 1000  | date: "dd-MMM-yyyy H:mm"}}</td>
                    <td>{{item.status | cleanKey}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>