<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '6px' }"></ngx-loading>
<div class="modal-body">
    <div>
        <h3>Export Batch to File</h3>
        <div *ngIf="lists|async as lsts$">
            <section>
                <fieldset>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Batch Reference</label>
                        <div class="col-sm-3">
                            <input type="text" name="batch" [(ngModel)]="verification['batch']" class="form-control" />
                        </div>
                        <div class="col-sm-6"></div>
                        <br />
                        <br />
                    </div>
                <br/>
                <br/>

                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-4"><a (click)="exportRecords(verifications)" class="button btn btn-block btn-success">Export
                                Batch</a>
                        </div>
                        <div class="col-sm-4"><a (click)="bsModalRef.hide()" class="button btn btn-block btn-danger">Close</a>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                </fieldset>
                </section>
        </div>
    </div>
</div>