<div class="modal-body">
    <tabset [justified]="true" type="pills">
        <tab>
            <ng-template tabHeading>Verification Details</ng-template>
            <fieldset>
                <div class="form-group">
                    <br/>
                    <br/>
                    <label class="col-sm-3 control-label">Reference</label>
                    <label class="col-sm-6 control-label">{{verification.ref}}</label>
                    <br/>
                    <br/>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Date Created</label>
                    <label class="col-sm-6 control-label">{{verification.created_date | date: "dd-MMM-yyyy H:mm"}}</label>
                    <br/>
                    <br/>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">First Name</label>
                    <label class="col-sm-6 control-label">{{verification.firstName}}</label>
                    <br/>
                    <br/>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Surname</label>
                    <label class="col-sm-6 control-label">{{verification.surname}}</label>
                    <br/>
                    <br/>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">ID Number</label>
                    <label class="col-sm-6 control-label">{{verification.idNo}}</label>
                    <br/>
                    <br/>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Email Address</label>
                    <label class="col-sm-6 control-label">{{verification.email}}</label>
                    <br/>
                    <br/>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Cellphone</label>
                    <label class="col-sm-6 control-label">{{verification.cellPhone}}</label>
                    <br/>
                    <br/>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Work Phone</label>
                    <label class="col-sm-6 control-label">{{verification.workPhone}}</label>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Bank</label>
                    <label class="col-sm-6 control-label">{{verification.bank}}</label>
                    <br/>
                    <br/>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Account Type</label>
                    <label class="col-sm-6 control-label">{{verification.accType}}</label>
                    <br/>
                    <br/>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Account Number</label>
                    <label class="col-sm-6 control-label">{{verification.accNo}}</label>
                    <br/>
                    <br/>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Amount</label>
                    <label class="col-sm-6 control-label">R {{verification.amount | number}}</label>
                    <br/>
                    <br/>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Name of Benefit</label>
                    <label class="col-sm-6 control-label">{{verification.benefitName}}</label>
                    <br/>
                    <br/>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Type of Benefit</label>
                    <label class="col-sm-6 control-label">{{verification.benefitType}}</label>
                    <br/>
                    <br/>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Notes</label>
                    <div class="col-sm-6">
                        <table class="table">
                            <tbody>
                                <tr *ngFor="let note of verification.notes | orderBy : '-created'">
                                    <td>
                                        <div class="text text-muted">{{note.text}}</div>
                                    </td>
                                    <td width="20%">
                                        <div class="text text-muted">{{note.created | date: "dd-MMM-yy"}}</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br/>
                    <br/>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Supporting Documents</label>
                    <div class="col-sm-6">
                        <table class="table">
                            <tbody *ngFor="let event of verification.events | orderBy : '-created' ">
                                <tr *ngFor="let file of event.attachment | orderBy : '-created' ">
                                    <td> <a target="_blank" href="{{file?.fileUrl}}">{{file?.fileType}}</a></td>
                                    <td>{{file?.fileName}}</td>
                                    <td width="20%">
                                        <div class="text text-muted">{{file?.created | date: "dd-MMM-yy"}}</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br/>
                        <br/>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div *ngIf="(isAdmin | async) && (verification.status == 'new' || verification.status == 'pending')" class="row">
                    <div class="col-sm-3"><a (click)="updateModal(verification, 'Verify','verified')" class="button btn btn-block btn-success">Verify</a>
                    </div>
                    <div class="col-sm-3"><a  (click)="updateModal(verification, 'Reject','rejected')" class="button btn btn-block btn-danger">Reject</a>
                    </div>
                    <div class="col-sm-3"><a  (click)="getData(verification)" class="button btn btn-block btn-warning">Retrieve Details</a>
                    </div>
                    <div class="col-sm-3"><a  (click)="updateModal(verification, 'Add Note to', 'note')" class="button btn btn-block btn-info">Add Note</a>
                    </div>
                </div>
            </fieldset>
        </tab>
        <tab>
            <ng-template tabHeading>Verification Timeline</ng-template>
            <div>
                <br/>
                <br/>
                <ul class="timeline-alt">
                    <li *ngFor=" let event of verification.events">
                        <div class="timeline-badge {{event.colour}}">
                            <em style="line-height:inherit;" class="{{event.icon}} fa-2x"></em>
                        </div>
                        <div class="timeline-panel">
                            <div class="popover right">
                                <h4 class="popover-title">
                                    {{event.heading}}
                                    <span class="pull-right"></span>
                                    <span class="pull-right"> {{event.created | amTimeAgo}})</span>
                                    <span class="pull-right">{{event.created | date: "dd-MM-yy H:mm"}} (</span>
                                </h4>
                                <div class="arrow"></div>
                                <div class="popover-content">
                                    <p>{{event.primary}}</p>
                                    <br/>
                                    <p>{{event.secondary}}</p>
                                    <br/>
                                    <div *ngIf="event?.attachment?.length > 0">
                                        <p>Attachments:</p>
                                        <div *ngFor="let file of event.attachment">
                                            <a target="_blank" href="{{file.fileUrl}}">
                                                <em class="fa fa-paperclip"></em>
                                                {{file.fileType}} - {{file.fileName}}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </tab>
    </tabset>
</div>