<div>
  <div class="row">
      <div class="col-sm-9 col-xs-7">
          <h3 style="margin-top:0px;" >Full Investigations</h3>
      </div>
      <div class="col-sm-3 col-xs-5">
          <button type="button" class="btn btn-primary btn-block align-middle" (click)="addModal()"><i class="fa fa-plus"></i>  Add New</button>
      </div>
  </div>
  <div class="table-responsive fixed">
      <table class="table table-hover">
          <thead>
              <tr>
                  <th>Reference</th>
                  <th>Surname</th>
                  <th>ID Number</th>
                  <th>Date Created</th>
                  <th>Last Updated</th>
                  <th>Status</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of verifications | async | orderBy: '-created_date'" (click)="detailsModal(item)">
                  <td>{{item.ref}}
                  <td>{{item.surname}}</td>
                  <td>{{item.idNo}}</td>
                  <td>{{item.created_date | date: "dd-MMM-yyyy H:mm"}}</td>
                  <td>{{item.updated_date | date: "dd-MMM-yyyy H:mm"}}</td>
                  <td>{{item.status | titleCase}}</td>
              </tr>
          </tbody>
      </table>
  </div>
</div>