<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '6px' }"></ngx-loading>
<div class="modal-body">
    <tabset [justified]="true" type="pills">
        <tab>
            <ng-template tabHeading>ID Check</ng-template>
            <fieldset>
                <div class="form-group">
                    <br/>
                    <br/>
                    <label class="col-sm-3 control-label">ID Number</label>
                    <div class="col-sm-6">
                        <input type="text" [(ngModel)]="data.idNo" class="form-control" />
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </fieldset>
            <fieldset *ngIf="verifyResponse">
                <div *ngFor="let label of verifyResponse?.jsonTable | keys">
                    <div class="form-group" *ngIf="verifyResponse?.jsonTable[label]">
                        <label class="col-sm-3 control-label">{{label | cleanKey}}</label>
                        <label class="col-sm-3 control-label">{{verifyResponse?.jsonTable[label] | titleCase}}</label>
                        <br/>
                        <br/>
                    </div>
                </div>
            </fieldset>
            <fieldset *ngIf="verifyResponse">
                <div class="row">
                    <div class="col-sm-4">
                        <button (click)="createPdf(verifyResponse)" class="btn btn-block btn-info">View PDF</button>
                    </div>
                    <div class="col-sm-4">
                        <button (click)="idVerify(data.idNo)" class="btn btn-block btn-success">Retrieve Another ID</button>
                    </div>
                    <div class="col-sm-4">
                        <button (click)="requestModalRef.hide()" class="btn btn-block btn-danger">Close</button>
                    </div>
                </div>
            </fieldset>
            <fieldset *ngIf="!verifyResponse">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">
                        <button (click)="idVerify(data.idNo)" class="btn btn-block btn-success">Retrieve</button>
                    </div>
                    <div class="col-sm-4">
                        <button (click)="requestModalRef.hide()" class="btn btn-block btn-danger">Close</button>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </fieldset>
        </tab>
        <tab>
            <ng-template tabHeading>Consumer Trace</ng-template>
            <fieldset>
                <div class="form-group">
                    <br/>
                    <br/>
                    <label class="col-sm-3 control-label">ID Number</label>
                    <div class="col-sm-6">
                        <input type="text" [(ngModel)]="data.idNo" class="form-control" />
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <div class="form-group">
                    <div *ngIf="traceResponse">
                        <br/>
                        <br/>
                        <br/>
                        <h3>Personal Details</h3>
                        <div *ngFor="let section of traceResponse.data.personal">
                            <div *ngFor="let record of section?.data">
                                <label class="col-sm-3 control-label">{{record.index}}</label>
                                <label class="col-sm-9 control-label">{{record.data}}</label>
                                <br/>
                            </div>
                            <br/>
                        </div>
                        <h3>Most Recent Addresses</h3>
                        <div *ngFor="let section of traceResponse?.data?.address">
                            <div class="col sm-6">
                                <div *ngFor="let record of section?.data">
                                    <label class="col-sm-12 control-label">{{record.data}}</label>
                                </div>
                            </div>
                            <br/>
                        </div>
                        <h3>Most Recent Contact Details</h3>
                        <div *ngFor="let section of traceResponse?.data?.telephone">
                            <label *ngFor="let record of section?.data" class="col-sm-6 control-label">{{record.data}}</label>
                            <br/>
                        </div>
                        <br/>
                        <br/>
                    </div>
                </div>
            </fieldset>
            <fieldset *ngIf="traceResponse">
                <div class="row">
                    <div class="col-sm-4">
                        <button (click)="createPdf(traceResponse)" class="btn btn-block btn-info">View PDF</button>
                    </div>
                    <div class="col-sm-4">
                        <button (click)="idTrace(data.idNo)" class="btn btn-block btn-success">Retrieve Another ID</button>
                    </div>
                    <div class="col-sm-4">
                        <button (click)="requestModalRef.hide()" class="btn btn-block btn-danger">Close</button>
                    </div>
                </div>
            </fieldset>

            <fieldset *ngIf="!traceResponse">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">
                        <button (click)="idTrace(data.idNo)" class="btn btn-block btn-success">Retrieve</button>
                    </div>
                    <div class="col-sm-4">
                        <button (click)="requestModalRef.hide()" class="btn btn-block btn-danger">Close</button>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </fieldset>
        </tab>
    </tabset>
</div>